<h1>Projects</h1>

<ul><% @projects.each do |project| %>
  <p>
    <li><%= link_to project.title, project %>
      by <%= project.user.first_name %> <%= project.user.last_name %><br>
      <%= project.teaser %><br>
      Currently Raised: $<%= project.current_goal %>/$<%= project.goal %><br>
      Description: <%= project.description %><br>
    </li>
  </p>
  <% end %>
</ul>

<%= paginate @projects %>