<h1>Project Listings</h1>

<ul><% @projects.each do |project| %>
  <li><%= project.title %><br>
      by <%= project.user.first_name %> <%= project.user.last_name %><br>
      <%= project.teaser %><br>
      <%= project.goal %><br>
      <%= project.description %><br>
  </li>
  <% end %>
</ul>
