<h1>Edit <%= @project.title %></h1>

<%= form_for [:my, @project] do |f|%>

  <% if f.object.errors.any? %>
    <div class="alert alert-error">
      <strong>Try again after fixing the following things:</strong><br/>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :teaser %>
  <%= f.text_field :teaser %><br>

  <%= f.label :goal %>
  $<%= f.number_field :goal %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.submit "Update", :class => "btn btn-primary" %>
  <%= link_to "Delete", my_project_path(@project), :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %>
<% end %>
